.spectacle-app{
    
}

.row{
    /* justify-content: center; */
    /* flex-1: 100% */
}

.row li{
    margin: 10px; 
    padding: 10px; 
}

.spectacle-list-group{
    display: flex; 
    flex-wrap: wrap;
}

.spectacle-thumbnail{
    margin: 5px; 
    flex-direction: column ;
    position: relative; 
    display: flex ; 

}

.spectacle-group-item{
    justify-content: center; 
    flex-wrap: wrap; 

}

.spectacle-image{
    padding: 10px ;
    padding-left: 15px; 
    padding-right: 15px; 
    max-width: 100%;
    border: 0; 

}

.spectacle-title{
    text-align: center; 
    font-size: 18px;
    margin-top: 10px; 
    font-weight: 450;
    font-family: utopia-std,times new roman,serif;
    line-height: calc(1em+6px);
}

/* THIS IS THE NAVBAR SECITON */

.navbar-brand{
    font-family: proxima-nova,helvetica,verdana,sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600; 

}

.nav-item{
    margin-left: 5px; 
    margin-right: 5px;
    padding: 1px; 
}

.nav-item{
    flex-direction: row; 
    color: #414b56;
    letter-spacing: 2.5px;
    font-size: 10px; 
    text-transform: uppercase;
    font-family: proxima-nova,helvetica,verdana,sans-serif;
    line-height: calc(1em + 10px);
}

.jumbotron{
    background-image: url("https://api.pcloud.com/getpubthumb?code=XZq68n7Zig1UpLV3HmzfXlUczwf3ARCrAt4V&linkpassword=undefined&size=1831x334&crop=0&type=auto");
    left: 50%;
    width: auto;
    min-height: 300px; 
    max-width: none
}

/* CSS FOR IMAGE_CAROUSEL */
.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .arrow:before, .arrow:before {
    color: #222
  }
  /* WORKS CITED: https://codepen.io/DZuz14/pen/XxKLVY?editors=0100 */

  /* TiTLE PAGE */
  .tagline{
      font-family: proxima-nova,helvetica,verdana,sans-serif;
      text-transform: uppercase
  }