.spectacle-app{
    /* display: flex;  */
}

.row{
    /* justify-content: center; */
  
}

.row li{
    margin: 10px; 
    padding: 10px; 
}

.spectacle-list-group{
    display: flex; 
    flex-wrap: wrap;
}

.spectacle-thumbnail{
    margin: 5px; 
    flex-direction: column ;
    position: relative; 
    display: flex ; 

}

.spectacle-group-item{
    justify-content: center; 
    flex-wrap: wrap; 

}

.spectacle-image{
    padding: 10px ;
    padding-left: 15px; 
    padding-right: 15px; 
    max-width: 100%;
    border: 0; 

}

.spectacle-title{
    text-align: center; 
    font-size: 22px;
    margin-top: 10px; 
    font-weight: 500;
    font-family: utopia-std,times new roman,serif;
    line-height: calc(1em+6px);
}