/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.large-loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.spectacle-app{
    
}


.row li{
    margin: 10px; 
    padding: 10px; 
}

.spectacle-list-group{
    display: flex; 
    flex-wrap: wrap;
    align-content: space-evenly; 
    justify-content: space-evenly;
    padding-left: 0px;
    margin-left: 10%;
    margin-right: 10%; 


}

.spectacle-thumbnail{
    margin: 10px;
    padding: 10px;  
    position: relative; 
    display: flex ; 
    flex-direction: column;
    text-align: center;
    height: 245px;
}

.spectacle-index-options-container{
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

.spectacles-grid {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 auto;
    list-style: none;
    margin-right: 7px; 
}
.spectacle-grid-item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 350px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 220px;
    // margin-right: 10px;
    margin-bottom: 78px;
    // font-size: 3rem;
    font-weight: 600;
    color: #ecf0f7;
    background: white;
    box-shadow: inset 0px 0px 0px 0px #edeef4;
    -webkit-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
    will-change: transform;
    cursor: pointer;
}
.spectacle-grid-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border-radius: 3px;
    box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.06), 0 6px 10px -6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.1s ease-in;
    will-change: opacity;
    opacity: 0;
}


.radio-form{
  display: flex;
  justify-content: center;
}

.spectacle-image{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spectacle-group-item{
    justify-content: center; 
    flex-wrap: wrap; 

}

.spectacle-image{
    position: relative; 
    // padding: 10px ;
    padding-left: 15px; 
    padding-right: 15px;
    min-height: 70%;
    // max-height: 15%; 
    max-width: 100%;
}

.spectacle-link{
    text-align: center; 
    position: absolute;
    top: 0px;
}


.spectacle-title{
    font-size: 22px; 
    width: 100%; 
    font-family: 'Neuton', serif;
    font-weight: 450;
    line-height: calc(1em+6px);
    color: #414b56; 
    font-weight: bold;
}

@media (min-width: 1200px) { 
    .container {
        padding: 0px 40px;
        width: 100%;
    }
 }


  /* TiTLE PAGE */
  .spectacle-detail{
    position: relative; 
    /* display: flex;  */
    display: flex;
    flex-direction: column; 
  }

  .detail-title{
    /* text-align: center;  */
    align-items: center;
    margin-bottom: 5px;
  }

  .detail-btn{
    color:#00a2f5;
    margin-left: 10px;  
  }

  .detail-elements span{
      margin-bottom: 10px;
  }


 
  .spectacle-color-options{
    display: flex; 

    label {
        display: inline;
        margin-bottom: 0px;
    }
  }
  
  .heart-icon{
    line-height: 0;
    font-size: 27px;
    position: absolute;
    right: 10px;
    bottom: 3px;
    button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        color: red;
        i {
            transition: color .5s ease;
        }
        i.fa.fa-heart.fa1 {
            color: #f30f0f;
        }
        i.fa.fa-heart-o.fa1 {
            color: lightgray;
        }
    }
  }

  .transform-y{
    transform: translateY(-17.3%);
    position: relative; 
    // padding: 10px ;
    padding-left: 15px; 
    padding-right: 15px;
    min-height: 70%;
    // max-height: 15%; 
    max-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
