.Modal {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: white;
    z-index: 1; 
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#9ca5ae;
}

.subtitle{
    display: flex;
    justify-content: center;
}

.close-icon{
    display: flex;
    justify-content: flex-end;
}
.quiz-content{
    width: 60%;
    margin: auto;
    height: 100%;
}