.Modal {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color:white;
    z-index: 1; 
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#9ca5ae
}