.session-form-container{
    display: flex; 
    justify-content: center;
    height: 100%;
};

.session-form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
};

.actual-form{
    display: flex;
    flex-direction: column;  
    margin: auto;
    height: 500px;
};

.actual-form p {
    text-align: center;
    justify-content: center;
};

.form-group p {
    margin-left: 50%;
} */

.form-title{
    min-width: 30%
}