.splash-pri{
    color: #fff;
    background: #00a2e1;
    border: 1px solid #0089bf;
    margin-right: 15px;
    margin-top: 30px;
    font-family: 'Neuton', serif;
    font-size: 18px;
}

.splash-second{
    font-family: 'Neuton', serif;
    margin-top: 30px;
    font-family: 'Neuton', serif;
    font-size: 18px;

}


.homepage-container{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #f8f8f8;
    width: 100%; 
    min-height: 1000px; 
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.static-header{
    
}

#try-5{
    font-family: 'Tinos', serif;
    font-size: 70px; 
    color: #414b56;
    font-weight: bold;
    letter-spacing: 3px;
}

#while{
    font-family: 'Tinos', serif;
    font-size: 60px; 
    color: #414b56;
    font-weight: bold;
    letter-spacing: 1px;
}

.aside2-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {border-radius: 0;}


.animation {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-family: 'Tinos', serif;

  }